$primary-dark-color: #181d1d;
$secondary-dark-color: #1c2021;

$color1: #052b2f;
$color2: #073438;
$color3: #0e4b50;
$color4: #2d8f85;
$color5: #637c54;
/*
  1. Use a more-intuitive box-sizing model.
*/

/*
  2. Remove default margin
*/

/*
  3. Allow percentage-based heights in the application
*/
