@import './globals.scss';
@import url('/font/Ubuntu-Bold.ttf');

.card {
  width: 80%;
  aspect-ratio: 1.858;

  background-image: linear-gradient(110deg, #272f33 10%, #040404);

  border-radius: 2.05rem;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(16, 1fr);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 1.5px solid #32383a;

  @media screen and(max-width:1900px) {
    width: 95%;
  }
  @media screen and(max-width:1100px) {
    width: 99%;
  }
  @media screen and(max-width:900px) {
    width: 90vh;
    height: 50vh;
    aspect-ratio: 1.7;
    transform: rotate(90deg);
  }
}

.big_picture {
  overflow: hidden;

  grid-column: 8/15;
  grid-row: 3/-1;
  @media screen and(max-width:900px) {
    grid-row: 3/-1;
    grid-column: 9 / 16;
  }
}
.top {
  grid-row: 1/2;
  grid-column: 2/15;
}
.container {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social_media {
  grid-column: 15/16;
  grid-row: 3/7;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media screen and(max-width:900px) {
    grid-column: 16/17;
  }
  .social_media_Link {
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    color: #4a5256;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.5rem;
    transform-origin: left;
    transform: rotate(90deg);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    @media screen and(max-width:900px) {
      font-size: 1rem;
    }

    &:hover {
      color: white;
      transform: rotate(0deg) scale(1.5);
      @media screen and(max-width:900px) {
        transform: rotate(0deg) scale(1.25);
      }
    }
  }
}
